html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    min-height: 10rem;
}

.travel-message {
    font-size: 3rem;
    color: #333;
}

.google-map {
    min-height: 45rem;
}